*~

*.depend
*.vo
Makefile.coq
.coq_globals

*/coqdoc.sty
*/*.log

html/coqdoc.css
html/*.html

templates/*.v

staging/html/.dir
cpdt.tgz
cpdtlib.tgz
cpdtlib

*.glob
*.v.d

*.aux
*.dvi
*.log
*.v.tex
exercises.tex
*.toc
*.bbl
*.blg
*.idx
*.ilg
*.pdf
*.ind
*.out
src/.coq-native

# http://adam.chlipala.net/cpdt/repo
Makefile
latex
src
staging
templates
tools
